<!DOCTYPE html>
<html>
  <head>
    <style>.card {
      margin: 0 auto; /* Added */
      float: none; /* Added */
      margin-bottom: 10px; /* Added */
      
}</style>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
</head>
  <body>
    <!-- <h1><%= title %></h1> -->
    <div class="container" style="text-align: center;">
      <h2 class="text-center mb-4">Password Managemet System</h2>
    <div class="card " >
        <div class="card-header bg-gradient-primary">
          Add New Password 
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Password Category
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/get-category-name">Add New Category</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/view-category">View All Category</a>
                      </div>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Password Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Password Details</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-sm" href="/logout">Log Out</a>

              </form>
            </div>
          </nav>
        </div>
        <div class="card-body">
          <% if(errors !=''){ %>
            <p style="text-align:center;color: red;">
              <%= errors %></p>
              <%}%> 
              <% if(success !=''){ %>
                <p style="text-align:center;color: green;;">
                  <%= success %></p>
                  <%}%>
          <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
          <form action="/add-new-password" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Password</label>
              <select class="form-control" name="pass" id="exampleFormControlSelect1">
                  <% if(record.length>0){
                      record.forEach(function(row){ %>
                        <option value="<%= row.passcat %>"><%= row.passcat %></option>
                        <%      })} %>
              
                
              </select>
              </div>
              <div class="form-group">
                <label for="q">Project Name</label>
                <input type="text"  class="form-control" name="project" id="q" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Password Details</label>
                <textarea  class="form-control" name="detail" id="editor1" aria-describedby="emailHelp"></textarea>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
             
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary ">Add Category</button>

            </div>
            <p> <a class="" href="/add-new-password"> View All category List</a></p>
          </form>
        </div>    
    </div>
    </div>
    <script>
        CKEDITOR.replace( 'editor1' );
</script>
  </body>
</html> 

