<%- include('header') %>
        <div class="card-body">
          
         <table class="table">
<thead> <tr>
    <th scope="col">
Password Category Name
    </th>
    <th scope="col">
        Project Name
            </th>
          
    <th scope="col">
action
    </th>
</tr></thead>

<tbody >
    
    <% if(record.length>0){ 
        record.forEach(function(row){ %>
<form action="/passcat/edit" method="POST">

    <tr>
        <td>
          
            <% if(errors){ %>
                <input type="text" class="form-control" name="passname" value="<%= row.passcat %>" >
                <input type="text" class="form-control" name="id" value="<%= row._id %>" hidden >
                <% }else{ %>
                    <%= row.passcat %>
                    <% } %>
                
        </td>
        <td>
          
            <% if(errors){ %>
                <input type="text" class="form-control" name="passname" value="<%= row.passcat %>" >
                <input type="text" class="form-control" name="id" value="<%= row._id %>" hidden >
                <% }else{ %>
                    <%= row.project %>
                    <% } %>
                
        </td>
        <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal<%= row.id %>"><i class="fa fa-eye"></i></button>

            <% if(errors){ %>
            <button class="btn btn-xs btn-success" type="submit"><i class="fa fa-edit"></i></button>
            <% }else{ %>
            <a href="/passcat/edit" class="btn btn-xs btn-success"><i class="fa fa-edit"></i></a>
            <% } %>
            <a href="/passcat/delete/<%= row._id   %>" class="btn btn-xs btn-primary"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>
        
    </tr>
 <!-- The Modal -->
 <div class="modal fade" id="myModal<%= row.id %>">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"> <%= row.project %></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <%- row.passdetails %>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
</form>
  
    <% }) } %>
   
       
    
</tbody>

         </table>
      
  
</div>
        </div>    
    </div>
    </div>
  </body>
</html> 

